<!DOCTYPE html>
<html lang="es" style="background-color: rgb(234, 167, 167);">
<head>
    <title>SeeIt Proxy API</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
     <img src="{{ url_for('static', filename='Logo SeeIt.jpg') }}" alt="Logo SeeIt" style="height: 200px">
    <h1>¡Bienvenid@!</h1>
    <h1>Este proxy funciona como complemento para la aplicación de reconocimiento de imágenes SeeIt</h1>
    <br>
    <h2>Más información en: <a href="https://github.com/vicsotber/SeeIt">Repositorio de GitHub</a></h2>
    <h2>Enlace de la aplicación en Google Play Store: <a href="#">SeeIt</a></h2>
</body>
</html>